APP_ENV=dev

APP_SECRET=74e06ee5eb5c214b0c2c83a5df9b2203

MAILER_URL=null://localhost

DATABASE_URL=mysql://root:root@db:3306/CodeChallenge

AWS_KEY=_AWS_KEY_
AWS_SECRET=_AWS_SECRET_

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=41b4645fb89e23d749be621a581d7ed8
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8&charset=utf8mb4"
DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=15&charset=utf8"
###< doctrine/doctrine-bundle ###
